.container {                     /*the white stuff */
  display: block;
  height: 100%;
  padding-top: 6em;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  width: 60%;
}

.error-message{
  background-color: #CD1316;
  border-radius: 50px;
  color: #fff;
  font-size: 2.3em;
  font-style: normal;
  overflow-wrap: break-word;
  width: 60%;
}

.new-tweet{                      /* the grey area*/
  background-color: #ECECEC;
  border-color: grey;
  border-radius: 16px;
  border-style: solid;
  display: block;
  overflow-wrap: break-word;
  padding-left: 20px;
}

.new-tweet h2{
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-left: 30px;  /*not working*/
  margin-right: 30px;
  text-align: left;

}

.new-tweet textarea {  /* child of h2*/
  display: block;
  margin: auto;
  padding-left: 10px;
  width: 90%;
}

.new-tweet footer {
  padding: 10px 10px;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: table;

}

.new-tweet footer input[type=submit] {  /* child of h2 */
  background-color: #D6F0F0;
  border-color: #6C6666;
  border-style: double;
  color: black;
  float: left;
  font-size: 0.8em;
  position: relative;
  width: 100px;
}

.new-tweet footer .counter {   /* child of h2*/
  float: right;
  margin-right: 5px;
}
