.restOfTheTweets {

}

.tweet-box  {
  background-color: #D4D1D1;
  border-radius: 16px;
  border-style: solid;
  border-color: #6C6666;
  margin: 2em 0;
  opacity: 0.6;
  transition: opacity .6s ease-in-out;
}

.tweet-box:hover {
  opacity: 1.0;
  transition: opacity .3s ease-in-out
}

.clear-fix::after {
  display: table;
  content: '';
  clear: both;
}

.restOfTheTweets header {
  margin: 1px;
  padding: 0 0 0 10px;
}

.restOfTheTweets .logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  float: left;
  margin: 10px 0 0 4px;
}

.restOfTheTweets h1 {
  font-size: 1em;
  display: inline-block;
  position: relative;
  float:left;
  font-style: oblique;
  margin: 10px 0 0 10px;
}
.restOfTheTweets h2 {
  font-size: .6em;
  display: inline-block;
  float: right;
  padding: 14px 14px;
}

/* FORMAT TWEETS */
.restOfTheTweets h3 {
  background-color: #ECECEC;
  margin: 10px 3px;
  padding: 100px 40px 100px 30px;
  text-align: left;
  font-size: 1em;

}


.restOfTheTweets footer {
  border-style: hidden;
  padding: 0 0 0 15px;
}

.tweet-box footer h4 {
  text-align: left;
  font-size: .6em;
  float: left;
  margin: 8px;
}
.restOfTheTweets .tweet-icons {
  float: right;
  margin: 8px;
}
.restOfTheTweets .tweet-icons i {
  margin-right: 6px;
}
